.jumbotron {
	background-image: linear-gradient(to right, limegreen , greenyellow);
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-image: linear-gradient(to right, limegreen , greenyellow);
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius:0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.main-page-icon{
	padding-right: 10px;
}

.table-alojamientos td {
	text-align: center; 
    vertical-align: middle;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tab-content {
	padding-top: 10px;
}

.btn-contactenme {
	width: 100%;
	border-radius:10x;
}