@limegreen: #32CD32;
@greenyellow: #ADFF2F;
@yellow:#eeee00;
@red:#ee0000;
@green:#00ee76;
@black:#000000;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-image: linear-gradient(to right, @limegreen , @greenyellow);
	color: @black;
	.margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-image: linear-gradient(to right, @limegreen , @greenyellow);
	.margenes(50px, 0px);
}

.card-hotel {
	flex: 1 200px;
	.margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius:0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.main-page-icon{
	padding-right: 10px;
}

.table-alojamientos td {
	text-align: center; 
    vertical-align: middle;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tab-content {
	padding-top: 10px;
}

.btn-contactenme {
	width: 100%;
	border-radius:10x;
}