.jumbotron {
  background-image: linear-gradient(to right, #32CD32, #ADFF2F);
  color: #000000;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-image: linear-gradient(to right, #32CD32, #ADFF2F);
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.main-page-icon {
  padding-right: 10px; }

.table-alojamientos td {
  text-align: center;
  vertical-align: middle; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.tab-content {
  padding-top: 10px; }

.btn-contactenme {
  width: 100%;
  border-radius: 10x; }
